<p>
  <button
    class="btn btn-primary"
    type="button"
    data-toggle="collapse"
    data-target="#collapseExample"
    aria-expanded="false"
    aria-controls="collapseExample"
  >
    Setup
  </button>
  <button class="btn btn-primary" type="button" (click)="calculate()">Calculate</button>
</p>
<div class="collapse" id="collapseExample">
  <div class="form-group">
    <label class="form-control-label" jhiTranslate="totalbattlecalcApp.unit.leadership" for="field_leadership">Maximum Leadership</label>
    <input type="text" class="form-control" name="leadership" id="field_leadership" data-cy="leadership" [(ngModel)]="maxLeadership" />
  </div>
</div>
<div class="form-group">
  <label jhiTranslate="totalbattlecalcApp.unit.home.title" for="field_features">Unit</label>
  <select class="form-control" id="field_features" [(ngModel)]="selectedUnit">
    <option [ngValue]="unit" *ngFor="let unit of possibleUnits; trackBy: trackId">
      {{ unit.name }}
    </option>
  </select>
</div>
<div class="btn-group">
  <div class="form-group">
    <button class="btn btn-primary" type="button" (click)="gotoBattle()">Add with health bonus</button>
  </div>
  <div class="form-group">
    <input type="number" class="form-control" name="bHealth" id="field_bHealth" [(ngModel)]="bHealth" />
  </div>
</div>
<div class="form-group">
  <label class="form-control-label" jhiTranslate="totalbattlecalcApp.unit.leadership" for="field_leadership">Maximum Leadership</label>
  <input type="text" class="form-control" name="leadership" id="field_leadership" data-cy="leadership" [(ngModel)]="this.leadership" disabled/>
</div>
<div class="table-responsive" id="entities" *ngIf="battleUnits && battleUnits!.length > 0">
  <table class="table table-striped" aria-describedby="page-heading">
    <thead>
      <tr>
        <th></th>
        <th>
          <span jhiTranslate="totalbattlecalcApp.unit.name">Name</span>
        </th>
        <th>
          <span jhiTranslate="totalbattlecalcApp.battleUnit.number">Number</span>
        </th>
        <!-- <th>
          <span jhiTranslate="totalbattlecalcApp.battleUnit.bHealth">Health Bonus</span>
        </th> -->
        <th>
          <span jhiTranslate="totalbattlecalcApp.unit.health">Health</span>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let battleUnit of battleUnits!; trackBy: trackId" data-cy="entityTable">
        <th><fa-icon icon="users"></fa-icon></th>
        <td>{{ battleUnit.unit!.name }}</td>
        <td>{{ battleUnit.number }}</td>
        <!-- <td>{{ battleUnit.bHealth }}</td> -->
        <td>{{ getAllHealth(battleUnit) | number: '1.0-0' }}</td>
        <td class="text-right">
          <div class="btn-group">
            <button class="btn btn-danger btn-sm" data-cy="entityDetailsButton" (click)="gotoHome(battleUnit)">
              <fa-icon icon="trash-alt"></fa-icon>
              <span class="d-none d-md-inline" jhiTranslate="entity.action.remove">Remove</span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
