<div class="container">
  <div class="row">
    <div class="col">
      <p>
        <button
          class="btn btn-primary"
          type="button"
          data-toggle="collapse"
          data-target="#collapseExample"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          Setup
        </button>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="form-group">
          <label class="form-control-label" jhiTranslate="totalbattlecalcApp.unit.maxLeadership" for="field_leadership"
            >Maximum Leadership</label
          >
          <input
            type="text"
            class="form-control"
            name="leadership"
            id="field_leadership"
            data-cy="leadership"
            [(ngModel)]="troopCalculation!.leadership"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col form-group">
      <button class="btn btn-primary" type="button" (click)="calculate()">Calculate</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div>
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Unit
        </button>
        <div class="dropdown-menu vertical-scrollable">
          <a class="dropdown-item" *ngFor="let unit of possibleUnits; trackBy: trackId" (click)="gotoBattle(unit)">
            <div class="image-container">
              <img [src]="this.getUnitAvatarBackUrl(unit!)" class="profile-image rounded-circle background-image" alt="Avatar" />
              <img [src]="this.getUnitAvatarUrl(unit!)" class="profile-image rounded-circle foreground-image" alt="Avatar" />
            </div>
            {{ unit.name }}
          </a>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col form-group">
      <div class="input-group">
        <span class="input-group-text" id="basic-addon1">Leadership</span>
        <input type="text" class="form-control" [(ngModel)]="this.leadership" disabled />
      </div>
    </div>
    <div class="col form-group">
      <div class="input-group">
        <span class="input-group-text" id="basic-addon1">Strength</span>
        <input type="text" class="form-control" [(ngModel)]="this.strength" title="Without bonuses" disabled />
      </div>
    </div>
    <div class="col form-group">
      <div class="input-group">
        <span class="input-group-text" id="basic-addon1">Health</span>
        <input type="text" class="form-control" [(ngModel)]="this.health" title="With bonuses" disabled />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="table-responsive" id="entities" *ngIf="troopCalculation!.battleUnits && troopCalculation!.battleUnits!.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
          <thead>
            <tr>
              <th><fa-icon icon="image" (click)="this.showImage = !this.showImage"></fa-icon></th>
              <th>
                <span jhiTranslate="totalbattlecalcApp.battleUnit.number">Number</span>
              </th>
              <th>
                <span jhiTranslate="totalbattlecalcApp.battleUnit.bHealth" (click)="this.showBHealth = !this.showBHealth">Bonus Health</span>
              </th>
              <th>
                <span jhiTranslate="totalbattlecalcApp.unit.health">Health</span>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let battleUnit of troopCalculation!.battleUnits!; trackBy: trackId" data-cy="entityTable">
              <th>
                <img *ngIf="this.showImage" [src]="this.getUnitAvatarUrl(battleUnit.unit!)" class="profile-image rounded-circle" alt="Avatar" />
                <br *ngIf="this.showImage"/>
                {{ battleUnit.unit!.name }}
                <fa-icon *ngIf="battleUnit.corrupted" icon="asterisk" style="color: red"></fa-icon>
              </th>
              <td style="font-weight: bold;">{{ battleUnit.number }}</td>
              <td>
                <div class="form-group">
                  <input *ngIf="this.showBHealth" type="number" class="form-control" name="bHealth" id="field_bHealth" [(ngModel)]="battleUnit.bHealth" style="width: 100px;"/>
                </div>
              </td>
              <td>{{ getAllHealth(battleUnit) | number: '1.0-0' }}</td>
              <td class="text-right">
                <div class="btn-group">
                  <button class="btn btn-danger btn-sm" data-cy="entityDetailsButton" (click)="gotoHome(battleUnit)">
                    <fa-icon icon="trash-alt"></fa-icon>
                    <!-- <span class="d-none d-md-inline"></span> -->
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
