<div>
  <h2 id="page-heading" data-cy="BattleUnitHeading">
    <span jhiTranslate="totalbattlecalcApp.battleUnit.home.title">Battle Units</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="totalbattlecalcApp.battleUnit.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-battle-unit"
        [routerLink]="['/battle-unit/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="totalbattlecalcApp.battleUnit.home.createLabel"> Create a new Battle Unit </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="battleUnits?.length === 0">
    <span jhiTranslate="totalbattlecalcApp.battleUnit.home.notFound">No battleUnits found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="battleUnits && battleUnits.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="number">
            <span jhiTranslate="totalbattlecalcApp.battleUnit.number">Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="unit.id">
            <span jhiTranslate="totalbattlecalcApp.battleUnit.unit">Unit</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let battleUnit of battleUnits; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/battle-unit', battleUnit.id, 'view']">{{ battleUnit.id }}</a>
          </td>
          <td>{{ battleUnit.number }}</td>
          <td>
            <div *ngIf="battleUnit.unit">
              <a [routerLink]="['/unit', battleUnit.unit?.id, 'view']">{{ battleUnit.unit?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/battle-unit', battleUnit.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/battle-unit', battleUnit.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(battleUnit)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="battleUnits && battleUnits.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
