<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="bonus">
      <h2 data-cy="bonusDetailsHeading"><span jhiTranslate="totalbattlecalcApp.bonus.detail.title">Bonus</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ bonus.id }}</span>
        </dd>
        <dt><span jhiTranslate="totalbattlecalcApp.bonus.name">Name</span></dt>
        <dd>
          <span jhiTranslate="{{ 'totalbattlecalcApp.BonusName.' + bonus.name }}">{{ bonus.name }}</span>
        </dd>
        <dt><span jhiTranslate="totalbattlecalcApp.bonus.value">Value</span></dt>
        <dd>
          <span>{{ bonus.value }}</span>
        </dd>
        <dt><span jhiTranslate="totalbattlecalcApp.bonus.unit">Unit</span></dt>
        <dd>
          <span jhiTranslate="{{ 'totalbattlecalcApp.MeasurementUnit.' + bonus.unit }}">{{ bonus.unit }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/bonus', bonus.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
